{% extends "bases/base.html" %}
{% load static %}

{% block title %} Contactado {% endblock %}

{% block content %}
    <div class="user_info">
        <h3>Contactar con {{usuario.usuario}}</h3>
        {% if not usuario.imagen %}
            <div class="perfil" style="background-image: url(/static/img/user.png);"></div>
        {% else %}
            <div class="perfil" style="background-image: url(/{{usuario.imagen}});"></div>
        {% endif %}
    </div>

    <form class="email_form search_form"  action="enviar-mensaje" method="POST">{% csrf_token %}
        <input type="hidden" name="email_user" value="{{usuario.email}}"/>
        <div>
            <label>Asunto</label>
            <input class="title" type="text" name="subject" value="{{title}}"/>
        </div>
        <div>
            <label>Email</label>
            <input class="title" type="email" name="email"/>
        </div>
        <div>
            <label>Mensaje</label>
            <textarea name="message" maxlength="500" placeholder="Escribe tu mensaje"></textarea>
        </div>
        <input class ="submit my-4" type="submit" value="Enviar"/>  
    </form>
{% endblock %}
</body>
</html>