{% extends "bases/base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %} 
    <h3 class="h">¿Quieres ofrecer tus servicios?</h3>
    <p>No lo pienses más y comienza por registrar tu anuncio. Seguro que miles de personas necesitan tu ayuda</p>
    <p class="link"><a href="registrarse">Registrate</a> para comenzar a publicar o <a href="login"> inicia sesión </a></p>
    

    <h3 class="h">¿Necesitas ayuda?</h3>
    <p>Busca entre todos los anuncios el que mejor se ajuste a tus necesidades.<br/>Habla con el anunciante, para concertar
        detalles</p>
    <a href="buscar-anuncio">Vamos!</a>
    
{% endblock %}
